@import "common/typography-style-guide/sass/style-guide.scss";

.parentContainer {
  margin: 0 auto;
  width: 450px;
  text-align: center;
}

.matchStatus {
  text-align: center;
  @include font-size(3);
  padding: 20px;
}

.palletteContainer {
  display: flex;
}

.colorPickers {
  display: flex;
  margin: 20px;
  @include font-size(1);
}

.dropdowns {
  @include font-size(0.9);
}

.playground {
  display: flex;
  color: white;
}

.resetMe {
  width: 100px;
  padding: 12px;
  margin: 20px;
  @include font-size(1.8);
  border-radius: 5px;
  background-color: $blue01;
  cursor: pointer;
  transition: all .5s ease-in;
}

.resetMe:hover {
  background-color: $blue02;
}
