// Default Colors
$black:           #000;
$white:           #fff;

// Verizon Color Palette
$gray01: #cdd3d8;
$blue01: #9fe2f4;
$blue02: #1bc7f7;
$pink01: #f7519e;

// Font weights
$weight-thin:           200;
$weight-regular:        400;
$weight-medium:         500;
$weight-demi:           600;
$weight-bold:           700;
$weight-heavy:          800;
